.idea/workspace.xml
lib/chat-orig.js
public/js/spa.chat.js
public/js/spa.js
public/js/spa.model.js
public/js/spa.shell.js
public/spa.html
node_modules
cookiejar.txt
lib/api.js
lib/routes-orig.js
public/images/
